body {
  background-color:black;
  text-align: center;
}

h1 {
  font-family: Veranda, sans-serif;
  font-weight: bold;
  font-size:50px;
  color:white;
  text-align: center;
}

h4 {
  font-size:16px;
  color:aquamarine;
  text-align:center;
  font-family: Veranda, sans-serif;
  text-decoration: underline;
}

a{
  color:aquamarine;
}

p{
  font-family:Veranda, sans-serif;
  font-size: 21px;
  color:gray;
}

.footer{
  text-align:right;
}
